
.xy {
  font-size: 100% !important;
}

td.yX { /*spacing out the table rows*/
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

div.pH.a9q {
	/* Important buttons on the left side of the email list */
	display: none;
}

span.aXw.T-KT {
	/* Star buttons on the left side of the email list */
	display: none;
}

div.oZ-jc.T-Jo.J-J5-Ji {
	/* Checkbox buttons on the left side of the email list */
	display: none;
}

div.pH-A7.a9q {
	/* Unimportant buttons on the left side of the email list */
	display: none;
}

body {
  font-size: 20px;
}

/* edits labels on the newer and older buttons */
.amF {
    color: black;
    padding: 0px 8px 0px;
}
